nohup.out
*.html
aria2/dht.dat
blade*
.DS_Store

# lazyvim plugin version
lazy-lock.json

# Vim uses a binary version, en.utf-8.add.spl, as a data structure to improve performance.
en.utf-8.add.spl

# packer
packer_compiled.lua

