snippet snippet_img "image" b
<img src="./pics/$1" alt="$2" width="50%"/>
endsnippet

snippet snippet_br "break line"
<br>
endsnippet

snippet snippet_mark "mark text"
<mark>$1</mark>
endsnippet

snippet snippet_red "red span"
<span style="color:red">$1</span>
endsnippet
