snippet img "image" b
<img src="./pics/$1" alt="$2" width="50%"/>
endsnippet

snippet br "break line"
<br>
endsnippet

snippet mark "mark text"
<mark>$1</mark>
endsnippet

snippet red "red span"
<span style="color:red">$1</span>
endsnippet
