snippet snippet_fig.asy "asy figure" b
\begin{figure}[ht]
\centering
\begin{asy}
unitsize(3cm);
draw((-0.1, 0) -- (1.5, 0), arrow = Arrow(TeXHead));
draw((0, -0.1) -- (0, 1.5), arrow = Arrow(TeXHead));

$0
\end{asy}
\caption{${1:example}}
\label{fig.$1}
\end{figure}
endsnippet

snippet snippet_code "lstlisting" b
\begin{lstlisting}[label={code.${1:example}}]
$0
\end{lstlisting}
endsnippet

